<!-- <p>strange-hobbi works!</p> -->
<p>{{hobbi.name}}</p>
<p>{{hobbi.descr}}</p>
<img [attr.src]='hobbi.path1'/>
<img [attr.src]='hobbi.path2'/><br/>

<button class="bat">Edit</button><br/>
<form class="forma">
    <input type="text" value={{hobbi.name}}><br/>
    <textarea name="text" id="" cols="50" rows="10">{{hobbi.descr}}</textarea><br/>
    <input class="bat" type="submit">
</form>

//мок обьект с проинициализированніми полями
два сервиса
в одном название и описание
во втором картинки
сервисі вітягивают данніе с мок обьекта
компоненті используют соответствующий сервисі

енджи моел прописівать в компоненте аштиємель файле

